/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
code {
  background-color: rgba(70,106,112, 0.1);
  border-radius: 5px;
  font-family: monospace;
  font-size: 13px;
  padding: 5px;
  display: inline-block;
}

/* GLOBAL STYLES */
html {
  background: #f8f7f7;
  color: #998b8a;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', helvetica, arial, sans;
  min-height: 100vh;
}
.content-container {
  display: flex;
  flex: 1 1 auto;
  padding-top: 10vh;
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
}
h2 {
  color: #466a70;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
h4 {
  color: #466a70;
  margin: 1.1em auto;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2;
}
h4 a {
  color: #998b8a;
  text-decoration: none;
}
h4 a:hover {
  color: #466a70;
  text-decoration: none;
}
p {
  padding-bottom: 0.5em;
}
p, li {
  font-size: 1rem;
  line-height: 1.5;
}
a {
  color: #466a70;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
blockquote{
  background-color: rgba(70,106,112, 0.1);
  border-left: 8px solid #466a70;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.6;
  margin: 0.5em auto;
  padding: 1.2em 15px 1.2em 60px;
  position: relative;
  text-align: justify;
  width: 80%;
}
blockquote::before{
  color: #cdc2c0;
  content: "\201C";
  font-family: Arial;
  font-size: 4em;
  left: 10px;
  position: absolute;
  top: -10px;
}
.figcaption {
  font-size: 12px;
}

/* HEADER STYLES */
.header {
  background-color: #f8f7f7;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.logo-wrapper {
  max-width: 75vw;
}
.header-logo {
  box-sizing: border-box;
  display: block;
  float: left;
  height: 10vh;
  padding-top: 3vh;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo:hover,
.header-logo:active {
  background-color: rgba(70,106,112, 0.6);
}
.header-logo img {
  width: 5vh;
}
.logo-name {
  color: #6b3e39;
  font-family: 'Alice', serif;
  float: left;
  font-size: 1.8em;
  padding: 5vh 0 0 1vw;
}
.logo-name:hover {
  color: #466a70;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav > li:first-child a {
  color: #9d8070;
}
.header-nav > li:first-child a:hover,
.header-nav > li:first-child a:active {
  color: #cdc2c0;
}
.header-nav a,
.drop-trigger {
  color: #cdc2c0;
}
.nav-links a,
.drop-trigger,
.show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active {
  color: #9d8070;
}
/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.dropdown:hover .drop-trigger:after {
  border-color: #9d8070 transparent transparent;
}
.drop-trigger {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;
}
.drop-trigger:after {
  border: 0.3em solid;
  border-color: #cdc2c0 transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.3em;
  width: 0;
}
.drop-menu {
  box-shadow: 0 0 10px 0 rgba(205, 194, 192, 0.2);
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent #ccc;
  content: "";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.3em;
  width: 0;
}
.drop-menu li {
  background-color: #fff;
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.1)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  color: #999;
  font-size: 0.5em;
  font-size: 0.5em;
  padding: 1em 1em 0.25em;
  text-align: right;
  text-transform: uppercase;
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #333;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* FOOTER STYLES */
.footer {
  background-color: #fff;
  padding: 2vh 0;
  text-align: center;
}
.footer h3 {
  color: #cdc2c0;
  padding-top: 1.25em;
}
.footer h3 i {
  color: #466a70;
}
.footer li {
  display: inline-block;
  margin: 0 0.5em;
}

/* COLUMN STYLES */
.col {
  box-sizing: border-box;
  padding: 1.3em;
}
.col-two {
  display: flex;
}
.col-two h2 {
  margin: 0;
}
.col-two .col-aside {
  flex: 0 0 20em;
  order: 1;
}
.col-two .col-content {
  flex: 1;
}

/* PAGE STYLES */
.page {
  margin: 10vh auto 5vh;
  max-width: 990px;
  width: 90vw;
}
.page-title {
  color: #998b8a;
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}

/* SOCIAL STYLES */
.social-link {
  background-color: #998b8a;
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  height: 1.5em;
  line-height: 1;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 1.5em;
}
.social-link:hover,
.social-link:active {
  background-color: rgba(70,106,112,0.6);
}

/* BLOG STYLES */
.blog-list-wrapper {
  text-align: right;
  padding-top: 0;
}
.blog-list-wrapper h4 {
  font-size: 1.25em;
  margin-top: 1.65em;
  text-transform: uppercase;
}
.categories-tags-list {
  font-size: 0.8rem;
  list-style: none;
  text-decoration: none;
}
.post-category-tag {
  margin-bottom: 0.5em;
}
.post-category-tag span {
  color: #999;
  margin-bottom: 0.5em;
}
.category-tag-header {
  font-size: 1.25em;
  margin: 0.5em 0 1.10em;
  text-transform: uppercase;
}
.post-title-list li ~ li {
  margin-top: 0.5em;
}
.post-header p {
  color: #999;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em;
}
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-top: 2.75em;
  padding-top: 2.75em;
}
.blog-posts .post-header {
  font-size: 0.8rem;
}
.post-header {
  margin-bottom: 1.5em;
}
.post-header h2 {
  text-align: left;
}
.post-header img {
  border-radius: 99px;
  display: inline-block;
  height: 2.5em;
  margin-top: 0.8em;
  margin-right: 0.5em;
  vertical-align: middle;
}
.posts-image {
  background-position: center;
  background-size: cover;
  height: 6em;
  margin-bottom: 1.5em;
}
.post {
  width: 100%;
}
.post-content {
  font-size: 1.1rem;
  min-height: 20;
}
.post-content img {
  width: 24em;
}
.post-content .img-medium {
  width: 16em;
}
.post-content .img-large {
  width: 100%;
}
.post-content,
.post-footer {
  max-width: 40em;
  width: 85vw;
}
.pull-left {
  float: left;
  margin: 1em 1em 1em -1%;
}
.pull-right {
  float: right;
  margin: 1em -1% 1em 1em;
}
.center-img {
  width: 100%;
  text-align: center;
  margin: auto;
}
.post-aside {
  background-color: rgba(0, 0, 0, 0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 1.5em;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: left;
}
.post .post-header h1 {
  color: #466a70;
  font-weight: bold;
  font-size: 2em;
}
.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  font-style: italic;
  margin: 3em 0 0.8em;
  padding-top: 1em;
}
.post-footer div ~ div {
  margin-top: 0.5em;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  /* HEADER STYLES */
  .header-nav {
    padding: 2vh 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .nav-links a {
    font-size: 3.25vw;
  }
  .header-logo {
    left: auto;
  }
  .logo-name {
    font-size: 5vw;
  }
  .page-title {
    display: none;
  }

  /* MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    font-weight: bold;
    margin-top: 1.5vh;
    padding: 1.5em;
    position: relative;
    text-transform: uppercase;
  }
  .header-nav {
    background-color: #998b8a;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10vh;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav li {
    display: block;
    margin: 1em 0 0;
    padding: 0;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  .header-nav li:first-child a {
    color: #fff;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #f8f7f7;
    color: #9d8070;
    content: "CLOSE";
    left: 0;
    position: absolute;
    text-align: center;
    top: 1.5em;
    width: 100%;
  }

  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #f8f7f7;
    color: #9d8070;
    content: "CLOSE";
    left: 0;
    position: absolute;
    text-align: center;
    top: 1.5em;
    width: 100%;
  }

  /* BLOG STYLES */
  .blog-posts,
  .post {
    padding-left: 1em;
    padding-right: 1em;
  }
  .blog-cols {
    flex-direction: column;
  }
  .blog-previews {
    padding: 0;
  }
  .blog-list-wrapper {
    flex: 1;
    text-align: center;
  }
  .col-two .col-aside {
    flex: 1;
  }
  .post .post-header {
    font-size: 0.8rem;
  }
  .post-aside {
    display: none;
  }
  .post-content img {
    width: 80vw;
    float: none;
    margin: auto;
  }
  .pull-left,
  .pull-right {
    display: block;
    margin: auto;
  }
  .category-tag-header {
    font-size: 1.25em;
    margin: 0.5em 0.8em 1.10em;
    text-transform: uppercase;
  }
}




