<footer class="footer">
  <ul>
    <li>
      <a href="mailto: vanessaesanto@gmail.com" class="social-link">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/vanessaes" target="_blank" class="social-link">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/twikah" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/define_vanessa" target="_blank" class="social-link">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </ul>

  <h3>
    Crafted with <i class="fa fa-heart" aria-hidden="true"></i>
    by <a href="http://twikah.rocks/" target="_blank">twikah</a>
  </h3>

</footer>



