<head>
  {% if page.title %}
    <title>{{ page.title }} | Vanessa's blog</title>
  {% else %}
    <title>Vanessa's blog</title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="Vanessa Espirito Santo's blog.">
  {% endif %}
  <link href="/favicon.png" rel="icon">
  <link href="/apple-touch-icon.png" rel="apple-touch-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/9351bfa4c2.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Alice|Open+Sans|Raleway:100" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
